body
{
    background-color: rgb(246, 246, 255)

}

#logo
{
    background-color: rgb(246, 246, 250);
 
   
}

#buttons
{
    background-color: rgb(101, 146, 191);
    height: 40px;
    padding-left: 1250px;
    

}

#titleone
{
    background-color: rgb(235, 235, 255); 
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
    height: 30px;
    padding-left: 5px;
    
    height: 33px;
   
  
   
    

}

#smallTitle
{
    background-color: rgb(235, 235, 255); 
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 5px ;
    display: table;  
    padding-left: 10px;
    padding-right: 8px;
   
   
   
}

#home
{
    background-color: rgb(255, 255, 255);
		color: black;
        font-size: 12px;
        font-family: 'Times New Roman', Times, serif;
		border: none;
		cursor: pointer;
		width: 75px;
        margin-top: 8px;
        margin-right: 5px;


}

#signout
{
    background-color: rgb(255, 255, 255);
		color: black;
        font-size: 12px;
        font-family: 'Times New Roman', Times, serif;
		border: none;
		cursor: pointer;
		width: 75px;
        margin-top: 8px;
}

#content
{
    background-color: rgb(255, 255, 255);
    height: 550px;
    margin-left: 20px;
    padding-left: 100px;
    margin-right: 20px;
}

.face
{
    border: 1px solid rgb(38, 24, 148);
    background: none;
    padding: 20px 40px;
    font-size: 28px;
    font-family: 'Segoe UI',Geneva;
    cursor: pointer;
    margin: 30px;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
}

.btn1,.btn2,.btn3
{
    color:rgb(38, 24, 148)
}
 
.btn1:hover,.btn2:hover,.btn3:hover
{
    color: #fff
}

.face::before
{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: rgb(38, 24, 148);
    z-index: -1;
    transition: 0.8s;
}

.btn1::before,.btn2::before,.btn3::before
{
    top: 0;
    border-radius: 0 0 50% 50%;
}

.btn1:hover::before,.btn2:hover::before,.btn3:hover::before
{
    height: 180%;
}
